# EditorConfig is awesome:http://EditorConfig.org

# Don't use tabs for indentation.
[*]
indent_style = space
indent_size = 2

# ReSharper properties
resharper_csharp_extra_spaces = leave_multiple
resharper_csharp_naming_rule.private_constants = AaBb, AA_BB
resharper_csharp_space_within_array_access_brackets = true
resharper_space_around_arrow_op = true
resharper_space_within_array_rank_brackets = true
resharper_use_indent_from_vs = false
resharper_xml_attribute_style = first_attribute_on_single_line
resharper_xml_pi_attribute_style = first_attribute_on_single_line